@font-face {
    font-family: 'HusRegular';
    src: url('./fonts/Hus-Regular.otf.otf') format('truetype');
}

@font-face {
    font-family: 'Archivo';
    src: url('./fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
}